body {
  font-family: 'Roboto', 'Tahoma', sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

h1 {
  font-family: 'Playfair Display 400', 'Georgia', serif;
  font-size: 3.5rem;
  text-align: center;
  line-height: 100px;
}

h2,
h3 {
  font-family: 'Playfair Display 400', 'Georgia', serif;
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
  text-align: justify;
  text-indent: 20px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2rem;
  }

  h2,
  h3 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }
}


/* Navigation section */
.navbar {
  font-family: 'Playfair Display 400', 'Georgia', serif;
  text-align: center;
  font-size: 1.2rem;
}

.navbar li,
a {
  padding: 5px;
}

.navbar-nav .btn {
  width: 150px;
  margin-right: 10px;
}

.navbar a {
  color: #353535;
}

.navbar .fa-stack:hover {
  color: #d54c4c;
}

@media (max-width: 1000px) {
  .navbar li, .navbar a {
    font-size: 16px;
    padding: 2px;
  }

  #navbar li {
    text-align: right;
  }

  #navbar a {
    margin-left: auto;
  }
}

/* Header section, body section */
#frontend-header,
#backend-header {
  background-color: #353535;
  color: #eee;
  height: 100px;
}

.frontend-container {
  background-image: url(../img/office.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 700px;
}

.container,
.container-fluid,
.row {
  overflow: hidden;
}

div {
  display: block;
}

@media (max-width: 1000px) {
  #frontend-header,
  #backend-header {
    height: 80px;
  }

  .frontend-container {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 400px;
  }
}

/* Footer section */
#footer {
  background-color: #353535;
  width: 100%;
  padding: 30px 0 50px;
}

#footer .list-inline {
  margin: 0 0 25px 0;
  padding: 0;
}

#footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

#footer a {
  color: #337ab7;
  text-decoration: none;
  font-size: 14px;
}

#footer a:hover {
  color: #18446e;
}


/* Home page */
.jumbotron {
  background-color: #eee;
  opacity: 0.9;
  margin: 50px 0 50px;
}

#about-me {
  width: 350px;
  text-align: center;
  margin: auto;
}

#about-me h2 {
  font-size: 3rem;
}

#about-me p {
  text-align: center;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1000px) {
  #about-me {
    width: 300px;
    position: relative;
    top: 20px;
    margin-bottom: 10px;
  }
}

/* Buttons */
#btn-user-comment,
#btn-posts {
  width: 300px;
}

#btn-admin-posts,
#btn-admin-del-post,
#btn-validate-comment,
#btn-admin-del-comment {
  width: 150px;
  margin: 10px 0;
}

#btn-user-comment,
#btn-posts,
#btn-admin-posts,
#btn-validate-comment,
#btn-create-post {
  background-color: #337ab7;
  border-color: #337ab7;
}

#btn-user-comment:hover,
#btn-posts:hover,
#btn-admin-posts:hover,
#btn-validate-comment:hover,
#btn-create-post:hover {
  background-color: #18446e;
  border-color: #18446e;
}

.btn-secondary {
  width: 280px;
  text-align: left;
  margin-left: 20px;
}

#btn-contact,
#btn-signup,
#btn-login {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}


#del-user,
#edit-user-info,
#edit-password,
#del-user-comment,
#btn-comment,
#btn-create-post,
#btn-cancel-post,
#btn-edit-post {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (max-width: 1000px) {
  #post-content .btn {
    margin-top: 10px;
  }

  .btn {
    font-size: 16px;
    margin-bottom: 10px;
    justify-content: center;
  }

  .btn-secondary {
    width: 250px;
  }
}

/* User Pages */

#post-content,
#post-view,
#contact-form,
#comment-form,
#add-comment-form,
#signup-form,
#signin-form,
#edit-post-view,
#edit-view,
#dashboard-admin,
#comment-user,
#comment-admin,
#user-profile,
#post-create {
  background-color: #eee;
  opacity: 0.9;
}

/* Pages: List posts view, Post view */
#post-content,
#post-view,
#comment-form,
#add-comment-form,
#edit-post-view,
#edit-view,
#dashboard-admin,
#comment-admin {
  margin: 40px 20px 30px;
  padding: 20px 10px;
}

@media (max-width: 1000px) {
  #post-content,
  #post-view,
  #comment-form,
  #add-comment-form {
    margin: 20px 0 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* Contact form, Login form, Sigh up form */
#contact-form,
#signup-form,
#signin-form,
#user-profile,
#comment-user {
  margin: 60px 20px 30px;
  padding: 20px 30px;
}

#contact-form .form-control,
#signup-form .form-control,
#signin-form .form-control,
#contact-form h2,
#signup-form h2,
#signin-form h2,
#user-profile .form-control,
#user-profile .control-label,
#add-comment-form .form-control,
#add-comment-form .control-label {
  margin-bottom: 10px;
}

#contact-form label,
#signup-form label,
#signin-form label,
#add-comment-form .form-control {
  font-size: 1.1rem;
}

/* Profile User View */

#user-profile .form-control {
  width: 300px;
  height: 35px;
}

/* Admin List Posts View */
#posts-admin {
  margin: 5px 0;
}

/* Edit Post View */
#edit-post-view .form-control,
#post-create .form-control {
  font-size: 1.1rem;
}

#btn-edit-post {
  margin-bottom: 30px;
}


/* Post Create View */
#post-create {
  margin: 0 130px 50px 130px;
  padding: 20px 20px 40px;
}

#post-create .form-control,
#post-create h4 {
  margin-bottom: 10px;
}
