body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

#frontend-header, #backend-header {
	background-color: #353535;
	color: #eee;
	height: 100px;
}

#frontend-header h1, #frontend-header p, #backend-header h1, #backend-header p  {

	font-family: 'IBM Plex Mono', monospace, Arial;
	text-align: center;
	line-height: 100px;
}

.navbar-nav ul {
	margin: 0;
}
.navbar li, a {
	padding: 10px;
}

.frontend-container {
	background-image: url(../img/office.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 50px;
	min-height: 787px;
}

.container, .container-fluid, .row {
	overflow: hidden;
}

div {
	display: block;
}

#footer {
	background-color: #353535;
	width: 100%;
	padding: 50px 0 65px;
	bottom: 0;
}
footer .list-inline {
	margin: 0 0 25px 0;
	padding: 0;
}

footer a {
	text-decoration: none;
}
footer .copyright {
	font-size: 14px;
	margin-bottom: 0;
	text-align: center;
}
footer a {
	text-decoration: none;
	font-size: 14px;

}

.fa {
	font-family: 'FontAwesome';

}

.jumbotron {
	background-color: #eeeeee;
	opacity: 0.9;
	text-align: center;
}

#about-me {
	text-align: center;
	margin: auto;
}




#contact-form, #post-content, #post-view, #comment-form, #add-comment-form, #signup-form, #signin-form {
	background-color: #eee;
	opacity: 0.9;
	font-size: 16px;
	margin-top: 40px;
	margin-bottom: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.btn-outline-danger {
	margin-top: 20px;
	margin-bottom: 20px;
}

a {
	color: #337ab7;
}

a:hover {
	color: #18446E;
}

img {
	max-width:100%;
	max-height:100%;
}

table {
	width: 100%;
}

/*
.navbar {
	height: 80px;
	width: 100%;
}

 */
/*

#form_contact {
	margin: 2% 10%;
}
input {
	background: #f1f1f1;
}
footer {
	padding-top: 25px;
}

.fab, .social-icon {
	margin: 20px 10px 10px 10px;
	font-size: 25px;
	width: 30px;
}

.text-dark {
	margin-top: 10px;
	padding-bottom: 10px;
}

.post {
	margin: 20px 50px;
}

/*Sign In and Sign Up forms*/
/*.form-control {
	border-color: #eee;
	min-height: 41px;
	box-shadow: none !important;
}
.signin-form input {
	background: #f1f1f1;
}
.signin-form {
	width: 800px;
	margin: 0 auto;
	padding: 30px 0;
}
.signin-form h2 {
	color: #333;
	margin: 0 0 30px 0;
	display: inline-block;
	padding: 0 30px 10px 0;
	border-bottom: 3px solid darkred;
}
.signin-form form {
	color: black;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signin-form .form-group {
	margin-bottom: 20px;
}
.signin-form label {
	font-weight: normal;
	font-size: 16px;
}

.signin-form .btn {
	font-size: 16px;
	font-weight: bold;
	background: darkred;
	border: none;
	margin-top: 20px;
	min-width: 140px;
}
.signin-form .btn:hover, .inscription-form .btn:focus {
	background: grey;
	outline: none !important;
}

.signin-form form a {
	color: darkred;
	text-decoration: none;
}
.signin-form form a:hover {
	text-decoration: underline;
}
